<h1>Editing Book</h1>

<%= form_with model: @book do |f| %>
<label for="inputName">Title</label>
<%= f.text_field :title, autofocus: true, id:"inputName" %>

<label for="inputName">Opinion</label>
<%= f.text_area :body, autofocus: true, id:"inputName" %>

<%= f.submit "Update Book" %>
<% end %>

<%= link_to book_path(@book.id) do %>
<span>show</span>
<% end %>
｜
<%= link_to books_path do %>
<span>back</span>
<% end %>

