<%= render 'list', book: @book %>

  <% @books.each do |book| %>

  <p>画像</p>
  <%= link_to book_path(book.id) do %>
  <%= book.title %>
  <% end %>
  <%= book.body %>
   <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>

  <% end %>